.img-wrapper {
  position: relative;
}

img {
  width: 100%;
  max-height: auto;
  margin: 15px auto 15px;
}
.img-overlay {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: larger;
  font-weight: bold;
  background-color: rgba(173, 171, 171, 0.7);
  width: 100%;
  max-height: 100%;
  opacity: 0;
  margin-bottom: 10px;
  transition: all 0.4s;
  padding: 10px;
}

.img-wrapper:hover .img-overlay {
  opacity: 1;
  margin-bottom: 20px;
}




.masonry-grid {
  margin: 0 auto;
  padding: 20px;
  column-count: 4;
  column-width: 25%;
}
@media only screen and (min-width: 480px) and (max-width: 999px) {
  .masonry-grid {
    column-count: 2;
    column-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .masonry-grid {
    column-count: 1;
    column-width: 100%;
  }
}
